/* Estilos para o formulário de criação de produto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

form {
     margin: 20px;
    }
    
label {
    display: block;
    margin-bottom: 5px;
    }
    
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    }
    
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
input[type="submit"]:hover {
     background-color: #0056b3;
    }
    


/* Estilos para a lista de produtos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;

}

h1 {
    text-align: center;
    margin-top: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

tr{
    border-bottom: 1px solid #ccc;


}

th, td {
    padding: 10px;
    text-align: center;

}

th {
    background-color: #f2f2f2;

}

tr:hover {
    
    background-color: #f9f9f9;

}

a {
    color: #007bff;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

#criar_link {
    display: block;
    text-align: center;
    margin-top: 500px;

}

#criar_link:hover {
    text-decoration: underline;

}

#editar_link {
    display: block;
    text-align: center;
    margin-top: 20px;

}

#editar_link:hover {
    
    text-decoration: underline;

}
    
