<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Criar Novo Produto</title>
     <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Criar Novo Produto</h1>
    <form action="/adicionar_produto" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea><br><br>
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" required><br><br>
        <input type="submit" value="Criar Produto">
     </form>
</body>
</html>
