<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Criar Novo Produto</title>
     <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Criar Novo Produto</h1>
    <form action="/criar" method="POST" class="container">
    <div class="row">
          <div class="col-md-6">
               <input type="text" name="nome" placeholder="nome"  class="form-control">
          </div>

          <div class="col-md-6">
               <input type="text" name="descricao" placeholder="descricao"  class="form-control">
          </div>

          <div class="col-md-6">
               <input type="text" name="preco" placeholder="preco"  class="form-control">

          </div>
    </div>

    <br>
    <div class="row col-xs-12">
     <button type="submit" class="btn btn-block btn-success">enviar</button>
    </div>

    </form>
</body>
</html>
